.topfold {
    display: flex;
    justify-content: space-between;
    margin: 6px 12px;
    padding: 12px 0px;
    align-items: center;
}

.space {
    display: flex;
    justify-content: center;
    flex: 1;
    position: relative;
}

.topfold input {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: white;
    border-radius: 12px;
}

.actions {
    text-align: center;
    margin: 5px;
}

.actions button {
    font-size: 1.25rem;
    border-radius: 10px;
    margin: 10px;
}

.actions button:hover {
    background-color: #cbf8f8;
    border-color: teal;
    transform: scale(1.05);
}